@-webkit-keyframes turin {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes turin {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  100% {
    -webkit-transform:rotate(359deg);
    transform:rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(359deg);
    transform:rotate(359deg);
  }
}
.turin, .turrin, .turnin, .turnioniown, .turn {
  display: inline-block;
  -webkit-animation: turin 2s linear infinite;
  -moz-animation: turin 2s linear infinite;
  -ms-animation: turin 2s linear infinite;
  -o-animation: turin 2s linear infinite;
  animation: turin 2s linear infinite;
}
.spin {
  display: inline-block;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

// FUGGED
@mixin fuggedCopy {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}

.fugged, .fug {
	position: relative;
	animation: fugged 1s infinite linear alternate-reverse;

	&::before{
		@include fuggedCopy;
		left: 2px;
		text-shadow: -2px 0 #ff00c1;
		clip: rect(44px, 450px, 56px, 0);
		animation: fugged-anim 5s infinite linear alternate-reverse;
	}


	&::after {
		@include fuggedCopy;
		left: -2px;
		text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
		animation: fugged-anim2 1s infinite linear alternate-reverse;
	}
}


@keyframes fugged-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes fugged-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}


@keyframes fugged {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
}

// SO FUGGED
@keyframes so-fugged {
  0% {
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  }
  33% {
      -webkit-transform: translate3d(-20px,10px,0);
      transform: translate3d(-20px,10px,0);
  }
  66% {
      -webkit-transform: translate3d(20px,0px,0);
      transform: translate3d(20px,0px,0);
  }
  100% {
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  }
}
.so-fugged, .so_fugged {
    display: inline-block;
    animation-timing-function: linear;
    transform-origin: bottom center;
    animation-name: so-fugged;
    animation-duration: .1s;
    animation-iteration-count: infinite;
}
body {
  display: block !important;
}
